/* MODAL - ESTILOS GENERALES */
.modal-backdrop.show {
    opacity: .75;
}
.modal-header { background:$color-resaltado; border-radius:0.3rem 0.3rem 0 0; padding: 15px  }
.modal-title { flex: 1 1 0; text-align:center; color:$color-tipografia; line-height:1.25;}
h3.modal-title { font-size:25px; padding:0 15px; 
	@media screen and ( max-width:480px ){ font-size:18px; }
}
.modal-content { padding-bottom:10px;}
/* MODAL - ESTILOS EN CONTENIDO */

@media screen and ( max-width:480px ){ 
.modal-body img { display:block; max-width:100%; height:auto; float:none!important; margin-bottom:15px!important; margin-top:15px!important;}
}
.modal-body { padding:25px;}
.modal-body .alignright { float:right; margin:10px; margin-left:0;}
.modal-body .alignleft { float:left; margin:10px; margin-right:0;}
.modal-body h2, .modal-body h3, .modal-body h4 { color:$color-destacado; font-size:21px;}
.modal-body h4 { font-size:18px;}

.modal-header button.close {
    padding: 0;
    cursor: pointer;
    background: rgba(255,255,255,.45);
    border: 0;
    -webkit-appearance: none;
    padding: 2px 7px;
    border-radius: 50%;
    opacity: .8;
    color: #f0ad4e;
    transform: scale(1.10);
	box-shadow: 0 1px 1px rgba(66,66,66,.15);
}