/* COLORES */
$color-tipografia:#444; /* Gris */
$color-titulo-oscuro:#141414; /* Negro */
$color-primario:#bf0310; /* Rojo */
$color-destacado:#4299b2; /* Azul */
$color-resaltado:#f2cf3b; /* Amarillo */ 
$color-link:darken($color-destacado,10%);
$color-filete:#ddd;
/* BG */
$bg-claro:#f9f9f9;


